header {
    display:flex;
    padding:15px;
    align-content: center;
    align-items: center;
    gap:5px;
    background-color: #7180B9;
    min-height: 7vh;
}


main {
    min-height: 85vh;
}

article {
    padding: 3vw
}

footer {
    background-color: #7180B9;
    min-height: 8vh;
}


